.viewTimetable {
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.timetable {
	display: grid;
	grid-template-columns: 2fr repeat(7, 1fr);
   width: 100%;
}

.corner {}

.dayHeader,
.employeeCell,
.shiftCell {
	border: 1px solid #ddd;
}

.dayHeader {
	text-align: center;
	font-weight: bold;
	font-size: 11px;
}

.employeeCell {
	padding: 1px 2px;
	font-size: 11px;
}

.shiftCell {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px;
	font-size: 10px;
}

.deleteShift {
	position: absolute;
	right: 0;
}