.viewTimetable {
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.timetable {
	display: grid;
	grid-template-columns: 1.5fr repeat(7, 1fr);
	margin: 2px;
   width: 100%;
}

.dayHeader,
.employeeCell,
.shiftCell {
	border: 1px solid #ddd;
}

.dayHeader {
	text-align: center;
	font-weight: bold;
	font-size: 0.7rem;
}

.employeeCell {
	padding: 1px 2px;
	font-size: 0.7rem;
}

.shiftCell {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
input {
	margin: 2px;
	font-size: 0.65rem;
}
.deleteShift {
	width: 100%;
	padding: 3px;
	font-size: 0.5rem;
	font-weight: 700;
	text-align: center;
	border: none;
	border-radius: 20% 20% 0 0;
	color: #ddd;
	background-color: rgb(165, 30, 30);
	transform-origin: bottom;
	transform: scaleY(0);

	
	cursor: pointer;
	transition:
		transform 0.2s ease-out,
		background-color 0.2s ease
}
.shiftCell:hover .deleteShift {
	transform: scaleY(1);
}
.deleteShift:hover {
	background-color: rgb(145, 20, 20);
}